<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <!--<setting name="logImpl" value="LOG4J" />-->
        <!--
        <setting name="localCacheScope" value="STATEMENT"/>
        -->
        <setting name="logPrefix" value="dao."/>
        <setting name="defaultStatementTimeout" value="30"/>
    </settings>
    <plugins>
         <!-- PageHelper4.1.6 --> 
        <plugin interceptor="com.github.pagehelper.PageHelper">
           <!--  <property name="dialect" value="oracle"/> -->
            <property name="pageSizeZero" value="true"/>
            <!-- 开启分页合理化参数 -->
            <property name="reasonable" value="true"/>
            <property name="supportMethodsArguments" value="false"/>
        </plugin>
    </plugins>
</configuration>