<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.order.dao.EventMappingMapper" >
    <select id="initEventMapping" resultType="map">
        SELECT
        MAP_ID "mapId",
        OUT_EVENT_TYPE "outEventType",
        EVENT_TYPE "eventType",
        TOPIC "topic"
        FROM
        EVENT_MAPPING
    </select>
</mapper>